<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- TEST-03/04: contexto de teste, so repository/service (sem controllers/MVC),
	     H2 em memoria em vez do MySQL real de toolkit-servlet.xml. -->
	<context:component-scan base-package="br.unisc.toolkit.repository, br.unisc.toolkit.service" />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:mem:toolkit_test;DB_CLOSE_DELAY=-1;MODE=MySQL;DATABASE_TO_UPPER=false;CASE_INSENSITIVE_IDENTIFIERS=TRUE" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="br.unisc.toolkit.entity" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<!-- "user" (PointOfView) e reservado no H2, exige aspas; skip_column_definitions
				     evita que isso tambem cite columnDefinition="longtext" (ExportFile), mesma
				     combinacao usada no hibernate.cfg.xml de teste do LIC. -->
				<prop key="hibernate.globally_quoted_identifiers">true</prop>
				<prop key="hibernate.globally_quoted_identifiers_skip_column_definitions">true</prop>
				<prop key="hibernate.physical_naming_strategy">br.unisc.toolkit.classes.LowerCaseTableNamingStrategy</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
