target/
build-war/
*.class

.project
.classpath
.settings/
nbproject/private/
nb-configuration.xml

*.bak
*.tmp
*.log
sources.txt

.env
*.env
!.env.example
src/main/java/cfgbanco.txt

*.war

.DS_Store
Thumbs.db
desktop.ini
